{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}Погода{% endblock title %}
{% block content %}
    {{ form.media.css }}
 <h1>{{title}}</h1>
    {% if history %}
        <p>Посмотреть погоду в
            <a href="{% url 'weather_city' %}?name={{ history.city_id.pk }}">
                {{ history.city_id }}
            </a> ещё раз
        </p>
    {% endif %}
    <p>Для просмотра погоды введите название города:</p>
    <form action="{% url 'weather_city' %}" method="get" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
         <button type="submit" class="btn btn-success">
             Запрос погоды
        </button>
        {% endbuttons %}
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ form.media.js }}
{% endblock content %}