{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}Вход в систему{% endblock title %}
{% block content %}
    <h1>{{title}}</h1>
    <p>Для входа введите логин и пароль:</p>
    <form action="." method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
         <button type="submit" class="btn btn-success">
             Войти
        </button>
        <a href="{% url 'register' %}">
        <button type="button" class="btn btn-success">
            Регистрация
        </button>
        </a>
        {% endbuttons %}
    </form>
{% endblock content %}